:root {
  /* Colors */
  --main-bg-color: #F2EAE2;
  --gun-metal-color: #1C232B;
  --green-color: #3D8186;
  --dark-green-color: #1A4032;
  --aurometal-color: #6C7289;

  /* Font Sizes */
  --large: 32px;
  --body: 14px;
  --tag: 12px;
  --small: 13px;

  /* Font Family */
  --montserrat: 'Montserrat', sans-serif;
  --fraunces: 'Fraunces', serif;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  background-color: var(--main-bg-color);
  font-family: var(--montserrat);
}

main {
  max-width: 343px;
  margin: 0 auto;
  
  display: grid;
}

.product-body {
  background-color: #fff;
  padding: 24px;
}

.product-image {
  display: block;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tag {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--aurometal-color);
  font-size: var(--tag);
}

.description {
  color: var(--aurometal-color);
  line-height: 23px;
  font-size: var(--body);
  margin-bottom: 24px;
}

h1 {
  font-family: var(--fraunces);
  font-size: var(--large);
  color: var(--gun-metal-color);
  margin-top: 12px;
  margin-bottom: 16px;
}

/** Price Section**/

.price {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 20px;
}

.price__text {
  font-size: var(--large);
  font-family: var(--fraunces);
  color: var(--green-color);
}

.price__text--small {
  font-size: var(--small);
  color: var(--aurometal-color);
  margin-left: 24px;
  text-decoration: line-through;
}

/** Cart Button **/

button {
  border: none;
  background-color: var(--green-color);
  color: white;
  padding: 15px 0;
  font-size: var(--body);
  border-radius: 8px;
  cursor: pointer;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

button img {
  margin-right: 12px;
}

button:hover {
  background-color: var(--dark-green-color);
}

/** Media Queries */

@media (min-width: 800px) {

  main {
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }

  .product-image {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .product-body {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}